{%extends 'base.html'%}

{%block style%}
.a{
    font-size: 12px;
}
{%endblock%}

{%block title%} 
    Home-Page 
{%endblock%}


{%block content%}
    <div class="card mx-5 my-3">
        <div class="card-header text-white bg-secondary">
            <b>What Do you mean by Data Structures?</b>
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <i class="a"style="font-size: 12px">Data Structure can be defined as the group of data elements which provides an efficient way of storing and organising data in the computer so that it can be used efficiently. Some examples of Data Structures are arrays, Linked List, Stack, Queue, etc. Data Structures are widely used in almost every aspect of Computer Science i.e. Operating System, Compiler Design, Artifical intelligence, Graphics and many more.</i>
            </blockquote>
        </div>
    </div>
    {% for image in img %}
    <div class="card mx-5 my-3">
        <div class="card-header text-white bg-secondary">
            <b>Classification of Data Structures</b>
        </div>
        <div class="container mx-auto my-3">
            <img src="{{image.images.url}}" class="card-img-bottom"  alt="...">
        </div>
    </div>
    {%endfor%}
    <div class="card text-center mx-5 my-5">
        <div class="card-header text-white bg-secondary">
          Lets Dive into Non Primitive - DS
        </div>
        <div class="card-body">
          <a href="components/non-primitive-ds" class="btn btn-warning">Explore</a>
        </div>
    </div>
  
{%endblock%}